@media (min-width: 992px) {
	.arrowPanel:after,
	.arrowPanel:before,
	.soldOutArrowPanel:after,
	.soldOutArrowPanel:before {
		content: "";
		position: absolute;
		width: 50px;
		height: 50%;
		left: 100%;
	}
	.arrowPanel:after {
		bottom: 0;
		background: linear-gradient(to right bottom, #121212 50%, transparent 50%);
	}
	.arrowPanel:before {
		top: 0;
		background: linear-gradient(to right top, #121212 50%, transparent 50%);
	}

	.arrowPanel,
	.soldOutArrowPanel {
		position: relative;
	}

	.soldOutArrowPanel:after {
		bottom: 0;
		background: linear-gradient(to right bottom, #ffc107 50%, transparent 50%);
	}
	.soldOutArrowPanel:before {
		top: 0;
		background: linear-gradient(to right top, #ffc107 50%, transparent 50%);
	}
}
